.app {
    height: 100vh;
    margin-top: 60px;
    margin-bottom: 30px;
    &__postsContainer{
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;
        justify-content: center;
        &__right{
            @include iphone {
                margin-left: 0;
            }
            margin-left: 20px;
            z-index: -1;
        }
    }
}