/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #fafafa;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #fafafa;
  -o-object-fit: contain;
     object-fit: contain;
  border-bottom: 1px solid lightgray;
  position: fixed;
  top: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 100px;
}

.header__PhotoCameraIcon {
  margin-left: 10px;
}

.header__NearMeIcon {
  margin-right: 10px;
}

.post {
  max-width: 500px;
  background-color: #fff;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-bottom: 45px;
}

.post__header {
  padding: 12px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__header__avatar {
  margin-right: 10px;
}

.post__image {
  width: 100%;
  height: 50vh;
  background-size: cover;
  -o-object-fit: contain;
     object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post__iconBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post__iconBar__icon {
  padding: 10px;
}

.post__iconBar__markIcon {
  margin-left: auto;
}

.post__iconBar .MuiSvgIcon-fontSizeLarge {
  font-size: 30px;
}

.post__text {
  font-weight: normal;
  padding: 15px 10px;
  white-space: pre-line;
}

.post__comments {
  padding-top: 20px;
  border-top: 1px solid lightgray;
}

.post__comments p {
  padding: 10px;
}

.post__commentBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.post__commentBox__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  border: none;
  border-top: 1px solid lightgray;
}

.post__commentBox__button {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  background-color: transparent;
  color: #6082a3;
  border: none;
  border-top: 1px solid lightgray;
}

.imageUpload {
  padding: 10px;
  background-color: white;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.imageUpload__caption {
  width: 100%;
  height: 100px;
  margin-top: 20px;
}

.imageUpload__filePicker {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 0;
  left: 0;
  z-index: -1;
}

.imageUpload__button {
  position: absolute;
  bottom: -10%;
  border: 1px solid gray !important;
}

.footer {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0px;
  background-color: #fafafa;
  border-top: 1px solid lightgray;
}

.footer__loginContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__loginContainer__HomeOutlinedIcon {
  margin-left: 10px;
}

.footer__logoutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer small {
  display: block;
  width: 100%;
  color: lightgray;
  text-align: center;
}

.footer__avatar {
  width: 20px !important;
  height: 20px;
}

.MuiAvatar-root {
  width: 30px !important;
  height: 30px !important;
  margin-right: 10px;
}

.MuiButton-text {
  padding: 0 !important;
}

.signUpModal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signUpModal__logo {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100px;
}

.app {
  height: 100vh;
  margin-top: 60px;
  margin-bottom: 30px;
}

.app__postsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app__postsContainer__right {
  margin-left: 20px;
  z-index: -1;
}

@media (max-width: 568px) {
  .app__postsContainer__right {
    margin-left: 0;
  }
}
/*# sourceMappingURL=all.css.map */